.About-container {
    text-align: center;
    margin: 40px 7px 0px 7px;
}
.About-heading {
    font-size: 35px;
}
.About-p {
    font-size: 30px;
}
.insta {
    font-size: 40px;
    margin: 10px auto 0px auto;
    color: black;
}
.insta-container {
    text-align: center;
}