th {
    margin: auto 10px;
    font-size: 30px;
    padding: 0px 20px;
    border: 2px solid #283747;
}
tr {
    margin: 0px;
}
tr button {
    font-size: 30px;
}
caption {
    color: #283747;
}
table {
    padding-bottom: 30px !important;
    border-bottom: 5px solid #283747;
    margin: auto auto;
}
.logout {
    font-size: 35px;
    margin: 10px auto;
}
.admin-table {
    text-align: center;
}