th {
    margin: auto 10px;
    font-size: 30px;
    padding: 0px 20px;
}
tr {
    margin: 10px 5px;
    border-bottom: 2px solid #283747;
}
tr button {
    font-size: 20px;
}
caption {
    color: #283747;
    background-color: white;
}
table {
    padding-bottom: 30px !important;
}