.App-container {
    max-width: 1024px;
    margin: 10px auto;
}

.app-time-btn {
    font-size:  35px;
    margin-top: 30px;
    width: 75% !important;
}
.App-times-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.App-time-btn a {
    text-decoration: none;
    color: white;
}
@media screen and (min-width: 768px) {
    .appointmentDetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
