.App-container {
    max-width: 1024px;
    margin: 10px auto;
}

.App-time-btn {
    font-size:  35px;
    margin-top: 30px;
}
.App-times-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.App-time-btn a {
    text-decoration: none;
    color: white;
}