button {
    background-color: #eeeeee;
    border: none;
    padding: 8px;
    color: #283747;
    border: 2px solid #283747;
    font-family: Risque, serif;
}
button:disabled {
    background-color: #283747;
}
button:active {
    background-color: #5c80a7;
}