body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
}
@media screen and (min-width: 769px) {
    body {
        background-color: #eeeeee;
        position: relative;
        min-height: 100vh;
    }
    .bg {
        background-color: white;
        max-width: 1024px;
        margin: 0px auto;
        width: 100%;
    }
}