.icon {
    margin: auto;
}
.row-grid h2 {
    margin: auto;
}
.home-grid {
    display: grid;
    grid-template-rows: auto auto;
}
.row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 20px;
}

@media screen and (max-width: 768px) {
    .icon {
        width: 100px;
    }
    .row-grid h2 {
        font-size: 30px;
    }
    .home-grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .row-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            'icon'
            'h2'
        ;
        margin: 5px 8px;
    }
    .row-grid h2 {
        grid-area: h2;
    }
    .row-grid .icon {
        grid-area: icon;
    }
}