body, html {
    margin: 0px;
    padding: 0px;
    font-family: Risque, serif;
}
nav {
    text-align: center;
    margin: 0;
    background-color: #283747;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Nav-heading{
    padding: 10px;
    margin: 0 auto 0 0;
    font-size: 3em;
    margin: 0px auto;
}
.Nav-heading a {
    text-decoration: none;
    color:#eeeeee;
}
nav ul li a{
    text-decoration: none;
    padding: 0 25px;
    font-size: 2em;
}
nav ul li {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    margin: auto auto;
    align-items: center;
    height: 100%;
}
nav ul li a:visited {
    color: #eeeeee;
}
.footer {
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: fit-content;
}
@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .Nav-heading {
        padding: 10px;
        margin: auto;
        font-size: 2.5em;
    }
    nav ul li {
        border-left: 0px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    nav ul {
        display: flex;
        margin:  0px auto;
        align-items: center;
        height: 100%;
        padding-left: 0%;
    }
    nav ul li a {
        font-size: 1.5em;
        padding: 1rem;
    }
}