.bg h1 {
    margin: 0px;
    font-size: 50px;
    padding: 30px 0px;
}
.bg h2 {
    font-size: 38px;
}
.bg {
    text-align: center;
    color: #283747;
}
.bg p {
    margin: 0px 40px;
    font-size: 30px;
}
.services-btn {
    font-size: 30px;
    padding: 15px 35px;
    margin: 15px auto;
}
.detail {
    padding-bottom: 40px;
}
.react-calendar {
    background-color: white;
    border: 5px solid white;
    width: 80%;
    margin: auto;
    font-size: 30px;
}
.react-calendar__tile {
    font-size: 20px;
}
.react-calendar__navigation__label {
    font-size: 30px;
}
.app-time-btn {
    font-size: 30px;
    margin: 10px 5px;
}
form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "name input"
    "email input"
    "phone input"
    "address input"
    "checkout checkout"
    ;
    font-size: 30px;
    margin: 10px 40px;
}
.checkout-btn {
    grid-area: checkout;
    width: fit-content;
    margin: 10px auto;
    font-size: 30px;
}
input {
    margin: 10px;
    font-size: 20px;
}
label {
    margin: auto;
}

@media screen and (max-width: 768px) {
    .react-calendar {
        width: 100%;
        font-size: 15px;
    }
    .react-calendar__navigation__label {
        font-size: 15px;
    }
    .bg p {
        margin: 0px 20px;
        font-size: 20px;
    }
    .app-time-btn {
        font-size: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 10px 5px;
    }
    .react-calendar__tile {
        font-size: 15px;
    }
}