.Success {
    background-color: white;
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    padding: 10px;
}
@media screen and (min-width: 1024px) {
    .Success {
        height: 400px;
        margin: 0px auto;
    }
}
.Success a {
    font-size: 20px;
}
.Success a:visited {
    color: #283747;
}
.Success h1 {
    margin: 0px 0px 30px 0px;
    color: #283747;
}